<h2 mat-dialog-title>Ajouter un.e employé.e</h2>
<div mat-dialog-content>
 <form [formGroup]="employeeForm">
  <mat-form-field class="" appearance="outline">
    <mat-label>Prénom</mat-label>
    <input matInput #firstname maxlength="25" placeholder="Jean" formControlName="firstname"/>
    <mat-hint align="start">
      <strong>prénom</strong>
    </mat-hint>
    <mat-hint align="end">{{ firstname.value.length }} / 25</mat-hint>
  </mat-form-field>
  <mat-form-field class="" appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput #name maxlength="25" placeholder="Martin" formControlName="name"/>
    <mat-hint align="start">
      <strong>nom</strong>
    </mat-hint>
    <mat-hint align="end">{{ name.value.length }} / 25</mat-hint>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. jean@martin.fr"
    />
    <mat-error
      *ngIf="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')">
      Entrer un email valide
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Un email est <strong>nécessaire</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Rôle</mat-label>
    <mat-select #role placeholder="user" formControlName="role">
      <mat-option value="USER">user</mat-option>
      <mat-option value="ADMIN">admin</mat-option>
      <mat-option value="SUPER_ADMIN">super admin</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Date d'embauche</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="hired_at"/>
    <mat-datepicker-toggle matsuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchui #picker></mat-datepicker>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
 </form>
</div>
<div mat-dialog-action align="end" >
<button mat-raised-button mat-dialog-close color="warn">Fermer</button>
<button mat-raised-button color="primary" class="ms-5" (click)="addEmployee()"> {{ actionButton }} </button>
</div>